body,
html {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: white;
    padding: 10px 0px;
}


.header-info {}

.header-info .header-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header-logo h1 {
    font-size: 45px;
    color: rgb(46, 14, 163);
    margin-left: 27px;
    text-shadow: rgb(122, 122, 122) 2px 2px 2px;
}

.header-logo img {
    width: 70px;
}

nav.navbar.navbar-expand-lg {
    background-color: white;
    padding: 30px 0px 29px 0px;
    font-size: 18px;
}

a.nav-link {
    color: black;
}

a.nav-link:hover {
    color: brown;
}

li.nav-item {
    margin-right: 40px;
}

.table-row {
    position: relative;
}
.table-row a{
    color: white;
    text-decoration: none;
}
.table-row a:hover{
    color: #4cff00;
}
/*    .table-row:nth-child(2n+1) {
    background-color: rgba(3, 3, 3, 0.5);
}*/

.table-row>div {
    display: inline-block !important;
    color: #ccc;
    vertical-align: middle;
}

.ten {
    width: 300px;
    font-size: 1.2em;
    line-height: 2.5;
}

.ngay {
    font-size: 0.8em;
    color: #4cff00;
}

.action {
    position: absolute;
    right: 10px;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    padding: 8px 14px !important;
    color: black;
}

.action:hover {
    background-color: #4cff00;
    border-radius: 20px;
    cursor: pointer;
}

.action:hover a {
    color: black;
}
section#main-content {
    color: white;
    background-color: #000000b0;
    padding: 63px;
}

.profile{
    background-color: #000000a8;
    padding: 40px 0px;
    border-radius: 10px;
    position: relative;
    color: white;
}


.profile hr {
    background-color: white;
    margin-bottom: 20px;
}

.nav-tabs .nav-link.active{
    background-color: #5c636a;
    color: white;
}

.nav-tabs  .nav-link{
    color: white;
    font-size: 18px;
}

.nav-tabs  .nav-link:hover{
    color: #fffb00;
}
.tab-content {
    padding-top: 20px;
}

.tab-content label{
    font-size: 15px;
    color: #aaaaaa;
}
.tab-content button{
    font-size: 20px;
    padding: 10px 20px;
}
.gj-icon{
    color: white;
    z-index: 2;
}
.navbar .navbar-toggler{
    background-color: black;

}
.navbar .navbar-toggler .navbar-toggler-icon{
    background-color: white;

}

body, html {
    height: 100%;
    width:100%;
    background:#dcdcdc;
    margin:0;
    padding:0;
    position:relative;
}
/*PRELOADING------------ */
#overlayer {
    width:100%;
    height:100%;
    position:absolute;
    z-index:99;
    background:#4a4a4a;
}
.loader {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index:100;
    border: 4px solid #Fff;
    top: 50%;
    left: 50%;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

